.logo, .logo div {
border-radius: 50%;
border: 1px solid transparent;
-webkit-animation: rotate linear 77s infinite;
        animation: rotate linear 77s infinite;
border-radius: 50%;
padding: 5px;
-webkit-animation: rotate2 88s infinite linear;
        animation: rotate2 88s infinite linear;
}
.header{
  /*background-image: linear-gradient(rgba(255,255,255,1) 0%,rgba(255,255,255, 0.25) 10%,rgba(255,255,255, 0.12) 20%,rgba(255,255,255, 0) 100%);*/
}
.swiper-footer{
  background-image: linear-gradient(rgba(0,0,0,0) 30%,rgba(0,0,0,0.2) 55%,rgba(0,0,0,1) 100%);
}

.logo div:hover {
-webkit-animation-play-state: paused;
        animation-play-state: paused;
}
.logo {margin-right: 10px;}
.logo div.lo1{
background: rgba(255, 255, 255, 0.2);
}
.logo div.lo2{
background: rgba(255, 255, 255, 0.3);
border: 1px solid;
border-top-color: rgba(252, 88, 188, 1);
border-right-color: rgba(252, 88, 188, 0.8);
border-bottom-color:rgba(22, 22, 22, 1);
border-left-color:rgba(22, 22, 22, 0.8);
}
.logo div.lo3{
background: rgba(255, 255, 255, 0.5);
border-left-color:#fff;
border-bottom-color: rgba(244, 18, 18, 1);
border-right-color: rgba(75, 150, 255, 1);
border-top-color: rgba(244, 223, 46, 1);
}
.logo div.lo4{
background: rgba(255, 255, 255, 0.8);
}
.logo, .logo * {
will-change: transform;
}
@-webkit-keyframes rotate {
0% {
-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
50% {
-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
100% {
-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes rotate {
0% {
-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
}
50% {
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
}
100% {
-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
}
@-webkit-keyframes rotate2 {
0% {
-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
}
50% {
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
}
100% {
-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
}
@keyframes rotate2 {
0% {
-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
}
50% {
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
}
100% {
-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
}

#inloading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  color: #fff;
  background: #6a7d7e;
}
#inloading .loading{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  font-size: 2rem;
  margin-left: -200px;
  text-align: center;
}

.login{
  color: #ddd;
  -webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
transition: all 0.2s;
-webkit-transition-delay: 0s;
-moz-transition-delay: 0s;
transition-delay: 0s;
padding: 0.3125rem;
padding-left: 0 !important;
padding-right: 0 !important;
font-size: 0.875rem;
}
.send-msg-box{margin-top: 3.5rem; display: none;}
.no-login{ margin-top: 3.5rem;}
.avatar{
  flex-basis: 0;
  width: 2.2rem;height: 2.2rem;
  border-radius: 1.1rem;
  background-size: cover;
  background-position: center;
  float: left;
}
.music_progress{
  max-width: 30%;
  min-width: 200px;
  height: 0.4rem;
  border-radius: 0.2rem;
  opacity:0.4;
  display: none;
  overflow: hidden;
}

.m-t-8{
  margin-top: 8rem;
}


.hero-small.p-b{padding-top: 3rem;}
p#music_name{ margin-bottom: 0;}
p#bginfo{ font-size: 0.6rem;}
p#bginfo a{ color: rgba(255, 255, 255, 0.6);}
.f-l{float: left;}
.f-r{float: right;}
.ftxt p{display:none; margin-bottom: 0rem;color: rgba(255, 255, 255, 0.75); /*text-shadow:0.2rem 0.3rem 0px rgba(255, 255, 255, 0.1);*/}
.row.thesong{color: #ccc; margin-bottom: 1.2rem; font-size: 1rem;color: rgba(255, 255, 255, 0.4); margin-top: 0.35rem;}
.row.thesong i{font-size: 1.2rem;padding-top: 0.25rem;padding-right: 0.3rem;padding-left: 0.5rem;}
.thesong #music_btn_play{margin-left: 0.3rem;}
.ftxt #txt5{margin-top: 1.5rem;}
.uinfo{ margin-bottom:0.5rem;}
.login a{color: rgba(255, 255, 255, 0.6);}
.login a:hover{color: rgba(255, 255, 255, 1);}
.uinfo .name{
  font-size: 0.85rem;
  font-weight: 600;
  text-align: left;
  padding-left: 0.5rem;
  height: 2.2rem;
  display: flex;
  min-width: 2rem;
  overflow: hidden;
}
.uinfo .name.g0{
  color: #888;
}
.login .name{
  text-align: left;
  font-weight: 600;
  padding-left: 0.5rem;
  height: 2.2rem;
  line-height: 2.2rem;
  overflow: hidden;
}
footer .info{font-size: 0.75rem; margin-top: 1rem;color: #777;}
footer .info a{ color: #4f94ff;}

#accordionExample{
  opacity:0.8;
}
.opa-8
{
  opacity:0.8;

}
.b-r-10{ border-radius: 10px; }

.filter{filter: blur(10px);}

.col-12.error{
  position: relative;
  height: 30px;
}
.col-12.error em{
    position: absolute;
    display: block;
    font-size: 10px;
    color: #fff;
    line-height: 30px;
    background: #b60000;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
}

#artlist .card .image{
  filter: blur(4px);
}
#artlist .card:hover .image{
  filter: blur(0px);
}
#artlist .card[class*="-scale"]:hover .image {
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
#artlist .card .image::after{background: rgba(0, 0, 0, 0.6);}
#artlist .card:hover .image::after{background: rgba(0, 0, 0, 0.2);}

#artlist .card .name{
  margin-left: 5px;
  margin-top: 8px;
  display: inline-block;
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  letter-spacing: .06em;
  color: rgba(255, 255, 255, 0.9);
}
#artlist .card .date b,#artlist .card .name b{
  margin-right: 0.8rem;
  font-weight: 100;
}
#artlist .card .name b{ margin-left:0.4rem;font-size: 0.6rem;text-transform: uppercase;}

#artlist .card .date{
  position: absolute;
  text-transform: uppercase;
  bottom: 15px;
  font-size: 0.7rem;
  left: 32px;
  color: rgba(255, 255, 255, 0.7);
}
#artlist .card{border-radius: 12px;}

#artlist .card .article{
  position: absolute;
  top: 75px;
  right: 35px;
  left: 32px;
  bottom: 35px;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  text-align: -webkit-match-parent;
  font-size: 0.9rem;
  text-indent:2em;
  word-break: break-word;
  line-height: 1.6;
  max-height: 390px;
  overflow: hidden;
}
#artlist .card .article p{
    border-radius: 10px;
    font-size: 10px;
    margin-top: 10px;
  }
#artlist .card .article p .delbtn{
    color: #fff;
    padding-right: 5px;
  }
a.soul{
  float: right;
  color: rgba(255,255,255,0.7);
  border-radius: 5px;
  margin-left: 10px;
  font-size: 14px;
  background: rgba(255,255,255,0.2);
  padding: 3px 7px 3px 7px;
}
a.soul b{color: #f76868;}